.form-us {
    width: 800px;
    height: 600px;
    border: solid 1px;
}
.form-info{
        width: 500px;
        height: 600px;
        border: solid 1px;
}

.form-group {
    margin-bottom: 20px;
    margin: 30px;

}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 5px;
}

button[type="submit"] {
    padding: 10px 20px;
    background-color: #315cc8;
    color: white;
    border: none;
    cursor: pointer;

}
.input-infor{
    border: none;
}
